<h1>Player 1: <%= @player1 %> vs Player 2: <%= @player2 %> FIGHT! </h1>

<table style="width: 100%">
	<tr>
		<td><img src="http://downloadicons.net/sites/default/files/super-mario-icons-34502.png" alt="Player 1 Icon"></td>
		<td><img src="https://pbs.twimg.com/profile_images/378800000126010833/ccaf376e5be885a124f13c5cdb1907ca.png" alt="Player 2 Icon"></td>
	</tr>
	<tr>
		<td><%= @player1 %> HP : <%= @player1_hp %></td>
		<td><%= @player2 %> HP : <%= @player2_hp %></td>
	</tr>
  <tr>
    <td><form action="/attack" method="get">
    <input type= "submit" value= "Attack <%= @player2 %>"></form></td>
    <td><form action="/attack" method="get">
    <input type= "submit" value= "Attack <%= @player1 %>"></form></td>
  </tr>
</table>
